.container {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  box-shadow: var(--header-shadow);
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 2;
  padding: 1rem;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
}

.themeToggle img {
  width: 25px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

.menu li {
  margin-right: 1rem;
}

.menu li :last-child {
  margin-right: 0;
}

.navLink {
 text-decoration: none;
 font-size: 1.2rem;
 color: var(--text-color);
 padding: 0.5rem 1 rem;
 border-radius: 5px;
 transition: all 0.3s ease-in-out;
 cursor: pointer;
}

.navLink:hover {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 2px 2px 2px 2px;
  transform: translateY(-2px);
}

.navToggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 5px;
    width: 20%;
    background-color: var(--background-color);
    border-radius:0 0 10px 10px;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .menu.showMenu {
    display: flex;
  }

  .menu li {
    margin: 1rem 0;
  }

  .navToggle {
    display: block;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
  }

  .themeToggle {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
}

@media (min-width: 769px) {
  .nav {
    justify-content: space-between;
  }

  .themeToggle {
    margin-left: auto;
  }
  
}

  